# Frontend (Ionic)
Frontend/node_modules/
Frontend/.angular/
Frontend/www/
Frontend/.sass-cache/
Frontend/.env

# Backend (Strapi)
backend/node_modules/
backend/.cache/
backend/build/
backend/public/uploads/
backend/.tmp/
backend/.env